/* EntryPage.css */
#register-button {
  width: 200px;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.entry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.register-button, .visit-leave-button {
  width: 200px;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-button {
  background-color: #FAC823; /* Yellow color */
  color: #000;
}

.visit-leave-button {
  background-color: #FF0000; /* Red color */
  color: #fff;
}

.register-button:hover {
  background-color: #FFD95C;
}

.visit-leave-button:hover {
  background-color: #FF4D4D;
}
